<p>
  ванс упон э миднайт дрири, вэн пондэд вик энд вири, овэ мэниа квентэ кьюрис вольюм оф форготэн ло,
  вай ай мерлдит нэрли нэпинг саденли вакейменд тэпинг ас оф самуанс джэнтли рэпинг рэпинг эт май чеймбер дор,
  тис сам визитор ай мапед тепинг эт май чембер дор, мирли вис энд насинг мор, о дистинклия ремембер тис вос
  ин зе грейт десембер эт вич сейплет дайинг эмбэр врот зис хост опон зе фло, игле виш зе мороу веин их эт сот
  неймлес хир фо невермор, эт зе силкен сет энд сатан, растлинг эт вич пупу катон, фрилд ми, филд ми фор фантестик
  ту бороу фром май букс со сис ов сороу фо зе лост лено, фо зе рейв зе рейдиан мейден ху ве энджелс неймд лено
  терол невер филд бефор, со зет нау то стоп зе битинг оф май харт ай студ репидинг тис ам визитор интритинг ентрес эт май
  чембер дор, сэм лайти визитор энтритинг энтрес эт май чембер дор мирли вис... энд насинг мор
  Это английский текст
</p>
<img src="./../../assets/Images/костя.jpg" alt="WorldCities" class="home-cover"/>
