<div class="coutry-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !country"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Type a name">
      <mat-error *ngIf="form.controls['name'].errors?.['required']">
        Name is required.
      </mat-error>
      <mat-error *ngIf="form.controls['name'].errors?.['isDupeFailed']">
        Country already exists.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        ISO2 country code:
      </mat-label>
      <input matInput formControlName="iso2" required
             placeholder="Type iso2" />
      <mat-error *ngIf="form.controls['iso2'].errors?.['required']">
        ISO2.
      </mat-error>
      <mat-error *ngIf="form.controls['iso2'].errors?.['pattern']">
        Requires ISO2
      </mat-error>
      <mat-error *ngIf="form.controls['iso2'].errors?.['isDupeField']">
        Already exists
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        ISO3 country code:
      </mat-label>
      <input matInput formControlName="iso3" required
             placeholder="Type iso3" />
      <mat-error *ngIf="form.controls['iso3'].errors?.['required']">
        ISO3.
      </mat-error>
      <mat-error *ngIf="form.controls['iso3'].errors?.['pattern']">
        Requires ISO3
      </mat-error>
      <mat-error *ngIf="form.controls['iso3'].errors?.['isDupeField']">
        Already exists
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary"
              type="submit" [disabled]="!form.valid">
        {{this.id ? "Save" : "Create"}}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/countries']">
        Cancel
      </button>
    </div>
  </form>
</div>
